
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#503582;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    min-height:100vh;
    padding:25px;
}

/* FORMULARIO CENTRADO */
.contenedor{
    width:100%;
    max-width:600px;
    background:#f7f7f7;
    border-radius:14px;
    padding:28px;
    box-shadow:0 10px 25px rgba(0,0,0,.18);
}

h1{
    text-align:center;
    font-size:30px;
    color:#40597b;
    margin-bottom:6px;
}

.subtitulo{
    text-align:center;
    color:#0559c0;
    font-size:15px;
    margin-bottom:18px;
}

hr{
    border:none;
    border-top:1px solid #e23a3a;
    margin-bottom:20px;
}

label{
    display:block;
    margin-top:14px;
    margin-bottom:7px;
    font-weight:bold;
    color:#29486e;
}

/* INPUTS GENERALES */
input{
    border:1px solid #ccc;
    border-radius:7px;
    padding:10px;
    font-size:14px;
}

input:focus{
    outline:none;
    border-color:#00906a;
}

/* CLIENTE Y PRESUPUESTO */
#cliente,
#presupuesto{
    width:100%;
    margin-bottom:10px;
}

/* TABLA */
table{
    width:100%;
    border-collapse:collapse;
    margin-top:18px;
}

thead th{
    text-align:left;
    padding-bottom:8px;
    font-size:12px;
    color:#666;
}

tbody td{
    padding:5px 3px;
}

/* INPUT CANAL MÁS LARGO */
.canal{
    width:100%;
}

/* INPUTS MÁS ESTRECHOS */
.porcentaje,
.cpc{
    width:90px;
    text-align:center;
}

/* SUMA */
.suma{
    margin-top:18px;
    background:#3084d8;
    padding:14px;
    border-radius:8px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.suma strong{
    font-size:24px;
    color:#d63b2dbe;
}

/* BOTÓN */
button{
    width:100%;
    margin-top:18px;
    padding:14px;
    border:none;
    border-radius:8px;
    font-size:18px;
    font-weight:bold;
    color:white;
    background:linear-gradient(to right,#2e72bd,#1b3f8d);
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.02);
}

/* ERRORES */
#errores{
    margin-top:18px;
    background:#ffe8e8;
    color:#d12d2d;
    padding:15px;
    border-left:5px solid red;
    border-radius:8px;
    line-height:1.6;
}

#errores:empty{
    display:none;
}

/* RESULTADOS */
#resultado{
    margin-top:18px;
}

#resultado h2{
    color:#16396a;
    margin-bottom:12px;
}

/* FILAS RESULTADO */
.filaResultado{
    background:#ffffff;
    border:1px solid #ddd;
    border-radius:8px;
    padding:14px;
    margin-top:10px;
    line-height:1.7;
}

/* DESTACAR MEJOR CANAL */
.estrella{
    background:#eaffea;
    border:2px solid #28a745;
}